:root {
  --theme1: rgba(221, 120, 38, 0.842);
  --theme2: rgba(247, 58, 0, 0.774);
  --theme3: rgb(211, 165, 112);
  --theme4: rgba(214, 172, 34, 0.801);
  --theme5: #252525;
  --theme6: #fff;
  --theme7: #1a1919;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Handjet', cursive;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  background-color: var(--theme7);
}


section {
  margin-left: 250px;
  margin-right: 250px;
}

.divider-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
}

.divider {
  height: 1px;
  width: 35%;
  background-color: var(--theme6);
  display: flex;
  justify-content: center;
}

@media (max-width: 600px){

/*All*/
  section {
    margin: 0;
  }

  .divider {
    width: 50%;
  }

  .divider-small {
    width: 10%;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}


